@import "tailwindcss";

@layer base {
  :root {
    --primary: #212121;
    --accent: #00A3FF;
  }
  
  html, body {
    font-family: var(--font-oswald), sans-serif;
    overflow-x: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-oswald), sans-serif;
  }
  
  p, a, span, div, input, button {
    font-family: var(--font-oswald), sans-serif;
  }
}

.ahg-theme {
  background-color: white;
  color: var(--primary);
}

.oswald-font {
  font-family: var(--font-oswald), sans-serif !important;
}

.custom-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@layer components {
  .ahg-grid {
    @apply grid grid-cols-1 md:grid-cols-12 gap-6;
  }
}

/* Base font sizes */
 .header-link { font-size: 18px; }
  .banner-title { font-size: 38px; }
  .btn-text { font-size: 16px; }
  .section-title { font-size: 34px; }
  .section-text { font-size: 16px; }
  .side-text {font-size: 20px;}
  .side-title {font-size: 30px;}
  .card-title { font-size: 24px; }

/* Responsive Adjustments */
@media (max-width: 480px) {
  .custom-container { max-width: 95%; }
}

@media (min-width: 481px) and (max-width: 767px) {
  .custom-container { max-width: 92%; }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .custom-container { max-width: 90%; }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .custom-container { max-width: 90%; }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .custom-container { max-width: 95%; }
}

/* as per figma */
@media (min-width: 1536px) and (max-width: 1920px) {
  .custom-container { max-width: 95%; }
  .header-link { font-size: 18px; }
  .banner-title { font-size: 38px; }
  .btn-text { font-size: 16px; }
  .section-title { font-size: 34px; }
  .section-text { font-size: 16px; }
  .side-text {font-size: 20px;}
  .side-title {font-size: 30px;}
  .card-title { font-size: 24px; }
}

@media (min-width: 1921px) and (max-width: 2559px) {
  .custom-container { max-width: 95%; }
}

/* 2k Monitor */
@media (min-width: 2560px) and (max-width: 3800px) {
  .custom-container { max-width: 95%; }  
   .header-link { font-size: 24px; }
  .banner-title { font-size: 42px; }
  .btn-text { font-size: 22px; }
  .section-title { font-size: 38px; }
  .section-text { font-size: 22px; }
  .side-text {font-size: 22px;}
  .side-title {font-size: 34px;}
  .card-title { font-size: 28px; }
}
@media (min-width: 3800px) {
  .custom-container { max-width: 90%; }
   .header-link { font-size: 28px; }
  .banner-title { font-size: 50px; }
  .btn-text { font-size: 26px; }
  .section-title { font-size: 46px; }
  .section-text { font-size: 26px; }
  .side-text {font-size: 26px;}
  .side-title {font-size: 38px;}
  .card-title { font-size: 32px; }
}
